{% extends 'todos/base.html' %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="bg-light p-4 rounded shadow-sm mt-5 auth-form">
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                <h2>Create new account</h2>
                {% for field in form %}
                    <div class="form-group d-flex flex-column">
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="text-danger mt-2">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                <div class="text-center mt-3">
                    <button class="btn btn-primary">Create account</button>
                </div>
            </form>

            <div class="text-center mt-3">
                Already have an account yet? <strong><a href="{% url 'todos:login' %}">Login</a></strong>
            </div>
        </div>
    </div>
{% endblock content %}