* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    object-fit: contain !important;
}

body, html {
    height: 100vh;
}

.auth-form {
    width: 500px;
    max-width: 500px;
}

.login-form input {
    height: 45px;
    padding-left: 50px;
}

.login-form-group {
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-list li {
    display: none;
}

input {
    height: 30px;
}

textarea {
    height: 100px;
}

input, textarea {
    border: none;
    outline: none;
    border: 1px solid #eee;
    width: 100%;
}

.todo-form {
    background-color: rgba(98, 255, 145, 0.3);
}

.todo-wrapper {
    background-color: rgba(255, 218, 98, 0.767);
}

.todo-form, .todo-wrapper {
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.date-picker {
    width: 100%;
}